/*GENERAL DATA*/
@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

@font-face {
    font-family: 'Trebuchet'
    src: url('TrebuchetMS.ttf');
}

@font-face {
    font-family: 'AbelRegular';
    src:
        url('Abel-Regular.ttf');


}

@font-face {
    font-family: 'arialregular';
    src: url('fonts/arial-webfont.eot');
    src: url('fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/arial-webfont.woff2') format('woff2'),
         url('fonts/arial-webfont.woff') format('woff'),
         url('fonts/arial-webfont.ttf') format('truetype'),
         url('fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes logo-animation {
    0%   {filter:blur(20px);}
    25%  {filter:blur(0px)}
    50%  {filter:blur(10px);}
    100% {filter:blur(0px);}
}

a:visited, li:visited, a:focus{
  text-decoration: none !important;
}

footer{
  position: absolute;
  bottom:0;
  text-align: center;
  color: #928d8d;
  font-family: 'AbelRegular';
  left: 0;
right: 0;
font-size: 1em;
}

*{ margin: 0; padding: 0;}

body{
	/*background-image: url("img/fondo-2.png");*/
	/*background-size: cover;*/
	margin: 0 !important; padding: 0 !important;
	/*background-repeat: no-repeat;*/
	/*background-color:rgba(99,99,99,.3);*/
	/*background-position: center;*/
	height: 100%;


	/*background-attachment: fixed;*/

}

#myCanvas{
    background:black;
    position: fixed;
    width: 100%;
    height: 100%;
}

.block{
	opacity: .5;
}

.description-section h1{
	margin-bottom: 30px;
	font-size: 1.5em;
	font-weight: bold;
  font-family:'AbelRegular';
}

.description-section h2{
	font-size: 1.3em;
	font-weight: 100;
  font-family:'AbelRegular';
}



.loading{
	position: fixed;
	z-index: 2;
	width: 100vh;
	background-color: transparent;
	text-align: center;
	margin:25vh 40vh;

}

.loading-img{
	width: 10em;
}

/*HEADER SECTION*/

.header-section{
  background-color: rgba(0,0,0,.3);
  height: 100vh;
  width: 100%;
  text-align: center;
}

.header-inner p{
font-size: 1.5em;
  padding: 0px 5px;
  color: white;
  letter-spacing: 2px;
	font-family: 'AbelRegular'
}

.header-inner{
  margin-top: 25%;
}

p{
	font-family:'AbelRegular';
}

#icono-m{
		width: 50%;
    filter:blur(0px);
    animation-name: logo-animation;
    animation-duration: 4s;
}

.imagen-perfil{
  border-radius: 100%;
  border: 3px solid white;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/*DESCRIPTION SECTION*/
.window-3 li .blue{
	color:rgba(244,67,54,.66);
}
.window-3 li  .blue:hover{
	color:rgba(244,67,54,1);
	text-decoration: none;
}
.window-3 li .red{
	color:rgba(74,171,255,.66);
}
.window-3 li  .red:hover{
	color:rgba(74,171,255,1);
	text-decoration: none;
}

.list-skills li{
	padding:5px 5px;
  font-family:'AbelRegular';

}

.typed-cursor{
  display: none
}



.description-section{
	padding: 20px 100px !important;
	color: white;
	letter-spacing: 3px;

}

.window-1, .window-2, .window-3, .window-4{
 	display: none;
  font-family:'AbelRegular';
}

.window-3 > li {
  list-style: none !important;
}

.window-1{
  padding-bottom: 30px;
}



/*BUTTON SECTION*/

.button-section{
	text-align: center;
	margin: 30px 0;
}

button{
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	margin:0px 20px;
	background-color: transparent;
	box-shadow: none;
	border: none;
	outline: none;
}

button:hover{
	opacity:.5;

}

.next{
	background-image: url("img/next-button-2.png");
	margin:0 20px;
}

.prev{
	background-image: url("img/prev-button-2.png");
	margin:0 20px;
}



/*SECTION SOCIAL*/

.socialimg-1, .socialimg-2, .socialimg-3, .socialimg-4, .socialimg-5{
	margin-right: 10px;
  color: white;
}

.socialimg-1:hover{
	color: rgba(0, 86, 255, 0.7);
}

.socialimg-2:hover{
	color: rgba(230, 57, 166, 0.7);
}
.socialimg-3:hover{
	color: rgba(76, 175, 80, 0.7);
}

.socialimg-4:hover{
	color: rgba(255, 137, 0, 0.7);
}

.socialimg-5:hover{
	color: rgba(220, 49, 47, 0.7);
}

@media screen and (min-width:767px){

  .description-section,.button-section{
    float: right;
  }

  .header-section{
    position: fixed;
  }

}



/*MEDIA QUERY PARA MOBILE LANDSCAPE*/

@media screen and (max-width: 767px) and (orientation : landscape) {

	#icono-m{
			width: 30%;
	}



}



/*MEDIA QUERY PARA MOBILE*/

@media screen and (max-width: 767px){

  body{
    font-size: 17px !important;
  }

  .socialimg-1, .socialimg-2, .socialimg-3, .socialimg-4, .socialimg-5{
    color: white;
  }
  .header-inner{
    margin-top: 0%;
    padding-right:0;
    padding-left: 0;
  }

.header-section{
  height: 20rem;
}



.button-section{
	margin-bottom: 0;
}

.description-section{
	padding: 0px 30px !important;
	margin-bottom: 20px;
}

.button-section{
	margin: 20px 0;
}


.imagen-perfil{

  width: 4em;
  height: 4em;
}
/*.loading{
    width: 50%;
    margin: 30% 25%;
}*/

.loading-img{
	/*margin-left: 50vw	;*/
	width: 10em;
}

.header-inner{
  padding: 0px 5px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header-inner > p{
 margin:0;
}

.description-section h2 span{
display: none;
}


/*body{
	background-size: 100vh 100vh  ;
	background-image: url("fondo-2-mobile.JPG");
	background-attachment: fixed;
}*/

.pswp__caption__center{
  display: none !important;
}

/*TERMINA MEDIA QUERY MOBILE*/
}

/*IPAD PORTRAIT*/


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

/*body{
	background-size:100%  100% ;
	background-image: url("fondo-2-mobile.JPG");
	background-attachment: fixed;
}
*/


/* ENDS IPAD PORTRAIT*/
}


/*IPAD LANDSCAPE*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

/*body{
	background-size:100% 100%;
	background-image: url("fondo-2.JPG");
	background-attachment: fixed;
}	*/

/* ENDS IPAD LANDSCAPE */
}


/*MEDIA QUERY PARA LG*/



@media only screen and(min-width:1200px){


body{
	padding:40px;
}


}

@media screen and (min-width: 1200px){

body{
	font-size:2em;
	}

}



/*custom style for slider*/

.pswp__share-tooltip, .pswp__caption__center{
  font-family: "AbelRegular" !important;

}

.pswp__caption__center{
  font-size: 1.2em !important;
}


.pswp__caption__center a{
  color: rgba(244,67,54,.6);
}

.pswp__caption__center a:hover{
  color: rgba(244,67,54,1);
}
