/*GENERAL DATA*/


*{ margin: 0; padding: 0;}

body{
	background-image: url("fondo-2.JPG");
	/*background-size: cover;*/
	margin: 0 !important; padding: 0 !important;
	background-repeat: no-repeat;
	background-color:rgba(99,99,99,.3);
	background-position: center;

	/*background-attachment: fixed;*/

}

.block{
	opacity: .5;
}

.description-section h1{
	margin-bottom: 30px;
	font-size: 1.5em;
	font-weight: bold;
}


.loading{
	position: fixed;
	z-index: 2;
	width: 100vh;
	background-color: transparent;
	text-align: center;
	margin:25vh 40vh;

}

.loading-img{
	width: 10em;
}

/*HEADER SECTION*/

.header-section{
  background-color: rgba(99,99,99,.3);
  height: 100rem;
  width: 100%;
  text-align: center;
}

.header-inner{
	font-size: 2em;
  padding: 20px 5px;
  color: white;
}



.imagen-perfil{
  border-radius: 100%;
  border: 3px solid gray;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/*DESCRIPTION SECTION*/

.list-skills li{
	padding:5px 5px;

}

.list-skills li:first-child:hover{
	color:rgba(255,0,0,.5);
}

.list-skills li:nth-child(2):hover{
	color: rgba(0,0,255,.5);
}

.list-skills li:nth-child(3):hover{
	color: rgba(0,255,0,.5);
}
.list-skills li:nth-child(4):hover{
	color: rgba(196,0,255,0.5);
}

.list-skills li:nth-child(5):hover{
	color: rgba(0,192,255,0.5);
}

.list-skills li:nth-child(6):hover{
	color: rgba(247,255,0,.5);
}

.list-skills li:nth-child(7):hover{
	color: rgba(241,169,214,1);
}
.list-skills li:nth-child(8):hover{
	color: rgba(107,228,243,.5);
}

.list-skills li:nth-child(9):hover{
	color: rgba(247,199,199,1);
}

.list-skills li:nth-child(10):hover{
	color: rgba(255,0,137,.5);
}

.list-skills > li:hover {
}

.description-section{
	padding: 20px 100px !important;
	color: white;
	letter-spacing: 3px;

}

.window-1, .window-2, .window-3{
 	display: none;
}



/*BUTTON SECTION*/

.button-section{
	text-align: center;
	margin: 30px 0;
}

button{
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	margin:0px 20px;
	background-color: transparent;
	box-shadow: none;
	border: none;
}

button:hover{
	opacity:.5;
	
}

.next{
	background-image: url("next-button-2.png");
	margin:0 20px;
}

.prev{
	background-image: url("prev-button-2.png");
	margin:0 20px;
}



/*SECTION SOCIAL*/

.socialimg{
	width: 50px;
	margin-right: 10px;
}

/*.socialimg:hover{
	opacity: .5;
}
*/




/*MEDIA QUERY PARA MOBILE*/

@media screen and (max-width: 767px){

.header-section{
  height: 22rem;
}

body{
	background-size: 100vh 100vh  ;
	background-image: url("fondo-2-mobile.JPG");
	background-attachment: fixed;
}

.description-section{
	padding: 0px 50px !important;
	margin-bottom: 20px;
}

.button-section{
	margin: 20px 0;
}


.imagen-perfil{

  width: 4.5em;
  height: 4.5em;
}
.loading{
    width: 50%;
    margin: 30% 25%;
}

.loading-img{
	margin-left: 0;
	width: 10em;
}
/*TERMINA MEDIA QUERY MOBILE*/
}

/*IPAD PORTRAIT*/


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

/*body{
	background-size:100%  100% ;
	background-image: url("fondo-2-mobile.JPG");
	background-attachment: fixed;
}
*/


/* ENDS IPAD PORTRAIT*/ 
}


/*IPAD LANDSCAPE*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

/*body{
	background-size:100% 100%;
	background-image: url("fondo-2.JPG");
	background-attachment: fixed;
}	*/

/* ENDS IPAD LANDSCAPE */
}


/*MEDIA QUERY PARA LG*/



@media only screen and(min-width:1200px){


body{
	padding:40px;
}


}
