*{ margin: 0; padding: 0;}

body{
	background-image: url("fondo.JPG");
	background-size: 100% auto;
	margin: 0 !important; padding: 0 !important;
	height: 100%;

}

.header{
  background-color: rgba(99,99,99,.3);
  height: 100rem;
  width: 100%;
  text-align: center;
  

}

.header-inner{
	font-size: 2em;
  padding: 20px 5px;
  color: white;
}

/*.header-inner:before{
	content: 'Hi, I'm';
	font-weight: bold;
}
*/
.fade-in {}


.imagen-perfil{
  border-radius: 100%;
  border: 3px solid red;
  width: 200px;
  height: 200px;
}



.list-skills{
	list-style-image: url("red-icon.png");
}

.list-skills > li:hover {
	background-color: (255,255,255,1);
	transition: 1s;
}

.description{
	padding: 100px 100px !important;
	color: white;

}


button{
	background-color: transparent;
	border:.5px solid white;
	padding: 5px;
	border-radius: 5px;
}

button:hover{
	background-color: rgba(255,255,255,.5);
	border: .5px solid transparent;
	transition:1s;
}

.socialimg{
	width: 50px;
}

.socialimg:hover{
	opacity: .5;
}
 .window-1, .window-2, .window-3{
 	display: none;
 }


